* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    background-color: #babec0;
    background-image: url("/images/bg12.jpg"), url("/images/bg13.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    font-family: "Poppins", sans-serif;
}

header {
    position: relative;
    padding: 0 2rem;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust height to account for the navbar */
    gap: 200px;
    z-index: 1;
}

.wrapper {
    background: rgba(
            113,
            135,
            138,
            0.6
    ); /* Optional: Add a slight background to make the form stand out */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Adjusted to fit form fields better */
    text-align: center;
    margin-top: 60px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.form-columns {
    display: flex;
    justify-content: space-between;
}

.form-left,
.form-right {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-right {
    margin-bottom: 110px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input,
.input-box textarea,
.input-box select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 3);
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    color: black;
    font-weight: bold;
}

.input-box select {
    color: white;
}

.input-box textarea {
    height: 150px;
    resize: none;
}

.input-box select {
    height: auto;
    background: rgba(113, 135, 138, 0.6);
}

.input-box input::placeholder,
.input-box textarea::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem;
    background-color: #3d0c11;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: "Pacifico", cursive;
}

.btn-submit:hover {
    background-color: #5a0e15;
    scale: 1.05;
}

.btn-submit:active {
    scale: 0.95;
}

.sign-in-link {
    margin-top: 1rem;
    text-align: center;
    color: white;
}

.sign-in-link a {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.sign-in-link a:hover {
    color: orange;
}

@media (max-width: 870px) {

    .register-form {
        flex-direction: column;
        height: auto;
    }

    .form-columns {
        flex-direction: column;
    }

    .form-left,
    .form-right {
        width: 100%;
    }

    .wrapper {
        width: 60%;
    }
}


@media (max-width: 992px) {
    .register-form {
        display: flex;
    }

}