
.container {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px 0;
    width: 50%;
    margin-top: 12rem;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.welcome-message h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.welcome-message p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

