* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #efefed;
    background-image: url("/static/images/bg-photo1.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    padding: 0 2rem;
}


