<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/about-us.css" />
    <link rel="stylesheet" href="/css/navbar-style.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="/js/main.js"></script>
    <title>TopHomes - About Us</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar::navbar(activeLink=${''})}"></div>
    </header>

    <div class="wrapper">
        <div class="about-container">
            <div class="about-content">
                <h1>About TopHomes</h1>
                <p>Welcome to TopHomes, your trusted partner in the journey to finding your perfect home. Founded with the vision of simplifying the property buying experience, TopHomes offers a seamless platform for discovering, exploring, and acquiring properties that match your unique needs and preferences.</p>
                <h2>Our Mission</h2>
                <p>Our mission is to empower homebuyers by providing a comprehensive and user-friendly platform that connects them with top-quality property listings and trusted real estate agents. We aim to make the home buying process as smooth and enjoyable as possible.</p>
                <h2>Why Choose Us?</h2>
                <ul>
                    <li><strong>Extensive Listings:</strong> We offer a wide range of properties to suit every budget and lifestyle.</li>
                    <li><strong>Trusted Agents:</strong> Connect with experienced and reputable real estate agents.</li>
                    <li><strong>Seamless Experience:</strong> Enjoy a smooth, hassle-free process from search to purchase.</li>
                    <li><strong>Customer Support:</strong> Our dedicated support team is here to assist you every step of the way.</li>
                </ul>
                <h2>Our Story</h2>
                <p>TopHomes was founded by <a href="https://github.com/tony9701" target="_blank">Toni Iliev</a>, a WEB Developer to create a better and easier property buying experience. Using the latest technology and industry knowledge, TopHomes is now a user-friendly and feature-rich platform.</p>
                <h2>Contact Us</h2>
                <p>If you have any questions or need assistance, feel free to <a href="/contact-us">contact us</a>. We’re here to help you find your dream home!</p>
            </div>
        </div>
    </div>
</body>
</html>