<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin-panel.css" />
    <link rel="stylesheet" href="/css/navbar-style.css" />
    <script src="/js/main.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>TopHomes - Admin Panel</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar::navbar(activeLink=${''})}"></div>

    </header>

    <div class="nav-buttons">
        <button onclick="scrollToSection('users-section')">Users</button>
        <button onclick="scrollToSection('agencies-section')">Agencies</button>
        <button onclick="scrollToSection('properties-section')">Properties</button>
    </div>

    <div class="users-wrapper">
        <div id="users-section" class="users-container">
            <h1>Users</h1>
            <div th:each="user : ${allUsers}" class="user-panel">
                <p class="user-info" th:text="'Email: ' + ${user.getEmail()}"></p>
                <div class="user-actions">
                    <button class="btn-details" th:attr="data-id=${user.getId()}">Details</button>
                    <button class="btn-remove" th:attr="data-id=${user.getId()}">Remove</button>
                </div>
            </div>
        </div>

        <div id="agencies-section" class="users-container">
            <h1>Agencies</h1>
            <div th:each="agency : ${allAgencies}" class="user-panel">
                <p class="user-info" th:text="'Name: ' + ${agency.getName()}"></p>
                <div class="user-actions">
                    <button class="btn-details" th:attr="data-id=${agency.getId()}">Details</button>
                    <button class="btn-remove" th:attr="data-id=${agency.getId()}">Remove</button>
                </div>
            </div>
        </div>

        <div id="properties-section" class="users-container">
            <h1>Properties</h1>
            <div th:each="property : ${allProperties}" class="user-panel">
                <p class="user-info" th:text="${property.getName()}"></p>
                <div class="user-actions">
                    <button class="btn-details" th:attr="data-id=${property.getId()}">Details</button>
                    <button class="btn-remove" th:attr="data-id=${property.getId()}">Remove</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>