<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poetsen+One&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/register-styles.css"/>
    <link rel="stylesheet" href="/css/navbar-style.css"/>
    <link rel="stylesheet" href="/css/validation.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/main.js"></script>
    <script src="/js/validation.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>TopHomes - Register User</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar::navbar(activeLink=${''})}"></div>

</header>

<form onsubmit="return validateFormRegisterUser()"
      th:method="post"
      th:action="@{/user-register}"
      th:object="${registerUserDTO}">
    <div class="register-form">  <!--Changed-->
        <div class="wrapper">
            <h1>Register a User</h1>
            <div class="input-box">
                <input type="text" id="first-name" th:field="*{firstName}" placeholder="First Name"
                       required>
                <i class='bx bxs-user'></i>
                <span id="first-name-error" class="error-message"></span>
            </div>
            <div class="input-box">
                <input type="text" id="last-name" th:field="*{lastName}" placeholder="Last Name"
                       required>
                <i class='bx bxs-user'></i>
                <span id="last-name-error" class="error-message"></span>
            </div>
            <div class="input-box">
                <p><span style="color: red" th:if="${isProblem}">User with that email already exists.</span></p>
                <input type="text" id="email" th:field="*{email}" placeholder="Email"
                       required>
                <i class="fa-solid fa-envelope"></i>
                <span id="email-error" class="error-message"></span>
            </div>
            <div class="input-box">
                <input type="password" id="password" th:field="*{password}" placeholder="Create Password"
                       required>
                <i class='bx bxs-lock-alt'></i>
                <span id="password-error" class="error-message"></span>
            </div>
            <div class="input-box">
                <input type="password" id="confirm-password" th:field="*{confirmPassword}" placeholder="Confirm Password"
                       required>
                <i class='bx bxs-lock-alt'></i>
                <span id="confirm-password-error" class="error-message"></span>
            </div>

            <button type="submit" class="btn-submit">Register</button>
            <div class="sign-in-link"> <!--Changed-->
                <p>Already has an account?
                    <a href="/login">Sign in</a></p>
            </div>
        </div>
    </div>
</form>
</body>
</html>